.bundle
/db/*.sqlite3
/db/structure.sql
/log/*.log
/tmp/**/*
/tmp/category_descriptions*

.idea
.rsync_cache
/db/development_structure.sql
/db/structure.sql
/nbproject
/db/currency_prices/dir.txt
/db/currency_prices/*.xml
/coverage*

/.rvmrc

/public/images/k4/psd
*.orig

/public/java/.gitignore
*~
